*{
  box-sizing:border-box;
}
body, html{
  margin:0px;
  padding:0px;
}

 #container
{
  width:90%;
  margin:0px auto;
  /* border-style:solid;
  border-color:black;
  border-width:1px 1px; */
  height:100vh;
  display:flex;
  flex-direction:column;
}

.header{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}


#brand a
{
   color:white;
   text-decoration:none;
   /* flex:50%; */
}

#brand
{
  /* color:red; */
  /* text-align:center; */
  padding-left:5px;
  border-style:solid;
  border-color:black;
  border-width:1px 1px;
  flex:1 0 300px;
  /* flex:50%; */
  background: linear-gradient(to right,orange,blue,white);
  background: -o-linear-gradient(to right,orange,blue,white);
  background: -moz-linear-gradient(to right,orange,blue,white);
  background: -webkit-linear-gradient(to right,orange,blue,white);
}

#searchbox
{

  padding:20px 0px;
  /* flex:1 0 50%; */
  flex:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}


#form_1{
  border-style:solid;
  border-color:black;
  border-width:1px 1px;
  background: linear-gradient(to left,orange,blue,white);
  background: -webkit-linear-gradient(to left,orange,blue,white);
  background: -o-linear-gradient(to left,orange,blue,white);
  background: -moz-linear-gradient(to left,orange,blue,white);
  padding:8px;
}

#search
{
  margin-left:20px;
  /* float:left; */
  height:30px;
  background: white url(images/LogoMakr-3xRGir.png) no-repeat right center;
}
#press
{
   margin-right:40px;
   /* float:right; */
   height:30px;
   width:50px;
}

#list{
  /* clear:both; */
  border:1px black solid;
  /* height:60px; */
  margin-top:20px;
  /* padding: 7px 7px; */
  /* background-color:yellow; */
  background:linear-gradient(to right,yellow,white,orange);
  background:-webkit-linear-gradient(to right,yellow,white,orange);
  background:-moz-linear-gradient(to right,yellow,white,orange);
  background:-o-linear-gradient(to right,yellow,white,orange);
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap:wrap;
  padding-top:10px;
  padding-bottom:10px;
}


#list a{
  text-decoration:none;
  color:red;
  transition:font-size 0.5s ease;
  -ms-transition:font-size 0.5s ease;
  -moz-transition:font-size 0.5s ease;
  -webkit-transition:font-size 0.5s ease;
  -o-transition:font-size 0.5s ease;
  /* transition:color 0.5s ease; */

}

#list a:hover{
  color:black;
  font-size:32px;
}

#list :last-child{
  border-right:none;
}
#list a{
  margin-right: 30px;
  border-right:1px green solid;
  padding-right:20px;
}

@media screen and (max-width: 700px){
    #list{
        flex-direction: column;
        align-content: center;
    }
    #list a{
        border-right: none;
    }
}

#content{
  border:1px black solid;
  /* height:40px; */
  margin-top:20px;
  background-color:#e3f709;
}

#content h1{
  margin-left:20px;
}

#content p{
  margin-left:25px;
  margin-right:25px;
}

.sidebar{
  display:flex;
  flex-wrap:wrap;
  margin-bottom:30px;
}

.sidebars ul{
  list-style:none;
  text-transform:uppercase;
}

.sidebars li{
  margin:10px 30px;
  background:url(images/arrow.png) no-repeat left center;
  padding-left:40px;
  margin:20px 0px;
}

.sidebars ul li a{
  text-decoration:none;
  transition:font-size 0.5s ease;
  -ms-transition:font-size 0.5s ease;
  -moz-transition:font-size 0.5s ease;
  -o-transition:font-size 0.5s ease;
  -webkit-transition:font-size 0.5s ease;
}

.sidebars ul li a:hover{
  font-size:35px;
  color:black;
}

 #leftsidebar{
  border:1px black solid;
  border-radius:3px;
  float:left;
  margin-left:50px;
  margin-top:30px;
  margin-right:50px;
  width:460px;
  background:linear-gradient(to right,orange,yellow);
  -webkit-background:linear-gradient(to right,orange,yellow);
  -moz-background:linear-gradient(to right,orange,yellow);
  -o-background:linear-gradient(to right,orange,yellow);
}

 #rightsidebar{
  border:1px black solid;
  border-radius:3px;
  float:right;
  margin-left:50px;
  margin-right:50px;
  margin-top:30px;
  width:460px;
  background:linear-gradient(to left,orange,yellow);
  -webkit-background:linear-gradient(to left,orange,yellow);
  -moz-background:linear-gradient(to left,orange,yellow);
  -o-background:linear-gradient(to left,orange,yellow);
}

#footer{
  margin-top:auto;
  /* padding-left:40px; */
  background:linear-gradient(to right,orange,white,yellow);
  -webkit-background:linear-gradient(to right,orange,white,yellow);
  -moz-background:linear-gradient(to right,orange,white,yellow);
  -o-background:linear-gradient(to right,orange,white,yellow);
  /* clear:both; */
  /* height:30px; */
  padding:10px 0px 10px 40px;
}
